<h1>Input the URL that you needed to extract and analyze</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{ 'AnalyzeThis' }}" method="post">
{% csrf_token %}
<input type="url" name="urltoextract" size="35" height="45" value="https://finance.yahoo.com/news/monday-vital-data-applied-materials-133017731.html">
<input type="text" name="matchtxt">
<input type="submit" value="ExtractText">
</form>

{% if content_todisp %}<p>{{ content_todisp }}</p><hr>{% endif %}

{% if matched_content %}<p>{{ matched_content }}</p><hr>{% endif %}
